In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
from PIL import Image
import re
from itertools import chain
from collections import Counter

In [ ]:
#import title data
data = pd.read_csv('/content/drive/MyDrive/Colab/agro/data/agro.csv', encoding="utf-8")
df = data.copy()
df = df[['영화 제목', '썸네일', '유튜브 제목', '어그로표현 있음', '내용', '자극', '의문', 'THUMB', '내용있는어그로']]
df

            영화 제목  ... 내용있는어그로
0     100인,인간을말하다  ...       0
1         101달마시안  ...       1
2             10분  ...       1
3             10분  ...       1
4           127시간  ...       0
...           ...  ...     ...
1876          회사원  ...       0
1877       효자동이발사  ...       0
1878           후궁  ...       0
1879        히든피겨스  ...       1
1880          히트맨  ...       1

[1881 rows x 9 columns]

In [ ]:
df = df.rename(columns= {'영화 제목': '영화제목', '어그로표현 있음': '어그로표현있음', '유튜브 제목': '유튜브제목'})
df

             영화제목  ... 내용있는어그로
0     100인,인간을말하다  ...       0
1         101달마시안  ...       1
2             10분  ...       1
3             10분  ...       1
4           127시간  ...       0
...           ...  ...     ...
1876          회사원  ...       0
1877       효자동이발사  ...       0
1878           후궁  ...       0
1879        히든피겨스  ...       1
1880          히트맨  ...       1

[1881 rows x 9 columns]

#data distribution

In [ ]:
df['video_id'] = df.썸네일.apply(lambda x: x[23:34])
df

            영화 제목  ...     video_id
0     100인,인간을말하다  ...  1FhZxcKYmE0
1         101달마시안  ...  ntplV87tOMw
2             10분  ...  P_Zc-MtVJjM
3             10분  ...  dXP0DuNCyFI
4           127시간  ...  ZwfD2R3XoIk
...           ...  ...          ...
1876          회사원  ...  2PJxWeB0-7Y
1877       효자동이발사  ...  7VdbgvERxMw
1878           후궁  ...  W2lOQOR9JQ4
1879        히든피겨스  ...  xk9ZxKEEpng
1880          히트맨  ...  cv5SheUHy_k

[1881 rows x 10 columns]

In [ ]:
len(df)

1881

In [ ]:
print('내용있음: ', sum(df['내용'].values),'   percentage ', 100*(1441/1881))
print('내용없음: ', 1881- 1411, '    percentage ', 100*(470/1881))

내용있음:  1411    percentage  76.60818713450293
내용없음:  470     percentage  24.986709197235513

In [ ]:
print('어그로표현 있음: ', sum(df['어그로표현있음'].values), '   percentage ', 100*(1323/1881))
print('어그로표현 없음: ', 1881 - 1323, '    percentage ', 100*(558/1881))

어그로표현 있음:  1323    percentage  70.33492822966507
어그로표현 없음:  558     percentage  29.665071770334926

In [ ]:
#percentage out of all data
print('자극적 표현: ', sum(df['자극'].values), '   percentage ', 100*(871/1881))
print('의문형 표현: ', sum(df['의문'].values), '   percentage ', 100*(788/1881))
print('자극 and 의문:  336', '   percentage ', 100*(336/1881))
print('자극 or 의문:  1323', '   percentage ', 100*(1323/1881))
print('정상:  ', 1881 - 1323 ,'   percentage ', 100*(558/1881))

자극적 표현:  871    percentage  46.30515683147262
의문형 표현:  788    percentage  41.89261031366295
자극 and 의문:  336    percentage  17.862838915470494
자극 or 의문:  1323    percentage  70.33492822966507
정상:   558    percentage  29.665071770334926

In [ ]:
#percentage out of agro data
print('자극적 표현: ', sum(df['자극'].values), '   percentage ', 100*(871/1323))
print('의문형 표현: ', sum(df['의문'].values), '   percentage ', 100*(788/1323))
print('자극 and 의문:  336', '   percentage ', 100*(336/1323))
print('자극 or 의문:  1323', '   percentage ', 100*(1323/1323))

자극적 표현:  871    percentage  65.83522297808013
의문형 표현:  788    percentage  59.561602418745274
자극 and 의문:  336    percentage  25.396825396825395
자극 or 의문:  1323    percentage  100.0

In [ ]:
print('썸넬 어그로: ', sum(df['THUMB'].values), '   percentage ', 100*(1366/1881))
print('썸넬 정상: ', 1881- 1366, '   percentage ', 100*(515/1881))

썸넬 어그로:  1366    percentage  72.62094630515683
썸넬 정상:  515    percentage  27.37905369484317

In [ ]:
print('내용있는 어그로: 986','   percentage ', 100*(986/1881))
print('내용없는 어그로: 337','   percentage ', 100*(337/1881))

내용있는 어그로: 986    percentage  52.418926103136634
내용없는 어그로: 337    percentage  17.916002126528443

In [ ]:
print('내용있는 정상: 425','   percentage ', 100*(425/1881))
print('내용없는 정상: 133','   percentage ', 100*(133/1881))

내용있는 정상: 425    percentage  22.59436469962786
내용없는 정상: 133    percentage  7.07070707070707

In [ ]:
print('썸네일 정상, 제목 어그로: 336','   percentage ', 100*(336/1881))
print('썸네일 어그로, 제목 정상: 379','   percentage ', 100*(379/1881))

썸네일 정상, 제목 어그로: 336    percentage  17.862838915470494
썸네일 어그로, 제목 정상: 379    percentage  20.148856990962255

In [ ]:
print('썸네일 정상, 제목 정상: 179','   percentage ', 100*(179/1881))
print('썸네일 어그로, 제목 어그로: 987','   percentage ', 100*(987/1881))

썸네일 정상, 제목 정상: 179    percentage  9.516214779372675
썸네일 어그로, 제목 어그로: 987    percentage  52.472089314194584

#Basic Statistics

In [ ]:
df['token_char'] = df['유튜브제목'].str.split().str.len()
df.head(2)

          영화제목  ... token_char
0  100인,인간을말하다  ...          9
1      101달마시안  ...          5

[2 rows x 11 columns]

In [ ]:
df['char'] = df['유튜브제목'].map(lambda x: len(x))
df.head(2)

          영화제목  ... token_char
0  100인,인간을말하다  ...          9
1      101달마시안  ...          5

[2 rows x 11 columns]

In [ ]:
#number of characters 
import statistics

characters = df['char'].values
print('average number of characters: ', statistics.mean(characters))
print('max number of characters: ', max(characters))
print('min number of characters: ', min(characters))

print('mean characters: ', np.mean(characters))
print('var characters: ', np.var(characters))
print('sd characters: ', np.std(characters))

average number of characters:  31
max number of characters:  95
min number of characters:  7
mean characters:  31.380648591174907
var characters:  144.7046547627426
sd characters:  12.029324784157364

In [ ]:
#number of characters 
import statistics

characters = df['token_char'].values
print('average number of characters: ', statistics.mean(characters))
print('max number of characters: ', max(characters))
print('min number of characters: ', min(characters))

print('mean characters: ', np.mean(characters))
print('var characters: ', np.var(characters))
print('sd characters: ', np.std(characters))

average number of characters:  7
max number of characters:  30
min number of characters:  2
mean characters:  7.221158958001063
var characters:  6.206272128374034
sd characters:  2.4912390749131315

In [ ]:
#statistics of the categories
print(Counter(df['내용']))
print(Counter(df['의문']))
print(Counter(df['자극']))

Counter({1: 1411, 0: 470})
Counter({0: 1093, 1: 788})
Counter({0: 1010, 1: 871})

# PreProcess Texts

- 특수문자 제거 (뭐 남길지 생각해보기)
- 영어 소문자 변환
- 띄어쓰기 
- 불용어

In [ ]:
#불용어 제거
df['유튜브 제목'].replace( { '하이틴영화영리남영화추천추천': ' '}, inplace= True, regex = True)
df['유튜브 제목'].replace( { 'SUB': ' '  }, inplace= True, regex = True)
df['유튜브 제목'].replace( { 'ENG': ' '  }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '영리남': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '영화리뷰': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '리뷰': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '스포주의': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '스포': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '스포 주의': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '영화 리뷰': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '해석포함': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '호불호존잼드라마영화영리남': ' '}, inplace= True, regex = True)
df['유튜브 제목'].replace( { '스릴러영리남': ' '  }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '무조건설렘하이틴영화영리남': ' '  }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '액션코미디영화영리남': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '영리남하이틴영화': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '하이틴영화영리남': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '현실 주의': ' '  }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '현실주의': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '결말 포함': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '결말포함': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '해석 포함': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '감동코미디영화영리남': ' '  }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '설렘주의하이틴영화영리남': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '차승원류승룡송윤아오정세': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '하이틴영화영화영리남': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '리뷰리뷰엉이': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '위클리무비': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '영화추천': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '女' : '녀' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\d' : '' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\.': ' '  }, inplace= True, regex = True)
df['유튜브 제목'].replace( { ',': ' '  }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '"': '' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { "'": '' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '·': ''  }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '=': ''  }, inplace= True, regex = True)
df['유튜브 제목'].replace( { ':': '' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\.': '' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '|': ''  }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '-': '' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '_': '' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\【': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\】': ' '  }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\》': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\《': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\+':' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\」': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\「': ' '}, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\>': ' '  }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\<': ' '  }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\}': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\{': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\)': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\(': ' '  }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\%': ' '  }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\]': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\[': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\|': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '\/': ' ' }, inplace= True, regex = True)
df['유튜브 제목'].replace( { '[A-Za-z]+': ' ' }, inplace= True, regex = True)

df

            영화 제목  ... char
0     100인,인간을말하다  ...    9
1         101달마시안  ...    5
2             10분  ...    6
3             10분  ...    6
4           127시간  ...    6
...           ...  ...  ...
1876          회사원  ...   10
1877       효자동이발사  ...    6
1878           후궁  ...   10
1879        히든피겨스  ...    7
1880          히트맨  ...   10

[1881 rows x 12 columns]

#Export Data

#어그로 데이터 중

In [ ]:
#어그로만
agro = df.loc[df['어그로표현있음'] == 1]
agro

             영화제목  ... 내용있는어그로
0     100인,인간을말하다  ...       0
1         101달마시안  ...       1
2             10분  ...       1
3             10분  ...       1
4           127시간  ...       0
...           ...  ...     ...
1876          회사원  ...       0
1877       효자동이발사  ...       0
1878           후궁  ...       0
1879        히든피겨스  ...       1
1880          히트맨  ...       1

[1323 rows x 9 columns]

In [ ]:
#내용있는 어그로만
agro_content = agro.loc[agro['내용'] == 1]
agro_content

          영화제목  ... 내용있는어그로
1      101달마시안  ...       1
2          10분  ...       1
3          10분  ...       1
5        127시간  ...       1
6        127시간  ...       1
...        ...  ...     ...
1872   황당한외계인폴  ...       1
1873   황당한외계인폴  ...       1
1875  황혼에서새벽까지  ...       1
1879     히든피겨스  ...       1
1880       히트맨  ...       1

[986 rows x 9 columns]

In [ ]:
#내용없는 어그로만
agro_nocontent = agro.loc[agro['내용'] == 0]
agro_nocontent

             영화제목  ... 내용있는어그로
0     100인,인간을말하다  ...       0
4           127시간  ...       0
18           1987  ...       0
19            1BR  ...       0
20           1급기밀  ...       0
...           ...  ...     ...
1867        화이트칙스  ...       0
1868        화이트칙스  ...       0
1876          회사원  ...       0
1877       효자동이발사  ...       0
1878           후궁  ...       0

[337 rows x 9 columns]

In [ ]:
#의문형 어그로
agro_cliff = agro.loc[agro['의문'] == 1]
agro_cliff

          영화제목  ... 내용있는어그로
1      101달마시안  ...       1
2          10분  ...       1
4        127시간  ...       0
5        127시간  ...       1
6        127시간  ...       1
...        ...  ...     ...
1865     홀리데이트  ...       0
1866     홀리데이트  ...       1
1869  화이트하우스다운  ...       1
1875  황혼에서새벽까지  ...       1
1880       히트맨  ...       1

[788 rows x 9 columns]

In [ ]:
#자극형 어그로
agro_provocative = agro.loc[agro['자극'] == 1]
agro_provocative

             영화제목  ... 내용있는어그로
0     100인,인간을말하다  ...       0
1         101달마시안  ...       1
3             10분  ...       1
4           127시간  ...       0
5           127시간  ...       1
...           ...  ...     ...
1876          회사원  ...       0
1877       효자동이발사  ...       0
1878           후궁  ...       0
1879        히든피겨스  ...       1
1880          히트맨  ...       1

[871 rows x 9 columns]

In [ ]:
#어그로만 csv로
agro.to_csv('/content/drive/MyDrive/Colab/agro/data/only_agro.csv',encoding='utf-8-sig',index=False)

In [ ]:
# 숫자 지운 데이터 
df.to_csv('/content/drive/MyDrive/Colab/agro/data/agro_clean.csv',encoding='utf-8-sig',index=False)

#Preprocess Images

In [ ]:
#import image data zz82h97jtmU.jpg. 1890 images
images =  glob.glob('/content/drive/MyDrive/Colab/agro/images/*jpg')
img_id = [i[:11]for i in images]
print(len(img_id))